.validationError {
  color:red;
  min-width: 159px;
  background-color:white;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.15), 0 2px 5px -3px rgba(0, 0, 0, 0.15);
  box-sizing: border-box !important;
  border: none;
  border-width: 1px;
  border-radius: 3px;
  width: 160px;
  height: 28px;
  padding: 4px 1px 2px 8px;
}
